if data && data.length > 0
  each genre in data
    .card
      h3.genre= genre
      p.timestamp= new Date().toLocaleString('en-US', { timeZone: 'America/Denver' })
else
  p.error No genres available at the moment.